#root {
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .Logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: grid;
  grid-template-rows: var(--navbar-height) 3fr 1fr;
}

@media (max-width: 600px) {
  .App {
    display: grid;
    grid-template-rows: var(--navbar-height) auto auto;
  }
}