:root {
  --background-color: #222629;
  --green-dark: #61892F;
  --green-light: #86C232;
  --gray-dark: #2D3031;
  --gray-secondary-dark: #2b2d2d;
  --gray-light: #6B6E70;
  --white-primary: #DFDFDFDF;

  --navbar-height: 64px;
  --font-size-base: 16px;
  --font-size-title: 36px;
}