.ParametersPanel {
  width: 100%;
  color: var(--white-primary);
}

.containerGridMain {
  margin-left: 16px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-gap: 20px;

  /* Чтобы контейнер не растягивался шире экрана */
  width: calc(100% - 80px);
  max-width: 100%;
}

.containerTitle {
  display: grid;
  grid-column: 1 / 5;
}

.title {
  display: flex;
  margin: 0 0 0 10px;
  font-size: 22px;
}

.separator {
  background-color: var(--gray-dark);
  height: 2px;
  grid-column: 1 / 2;
  margin: 0;
}

.containerTime {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
}

.containerCountLoad {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
}

.containerPassword {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
}

/* Общие стили для контейнеров */
.containerInput {
  align-items: center;
  display: flex;
  grid-row: 3;

  /* Начальное состояние для анимации */
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms, visibility 300ms;
  visibility: hidden;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}

/* Специфичные модификаторы для каждого контейнера */
.containerPasswordInput {
  grid-column: 3;
}

.passwordInput {
  @extend .containerInput;
  grid-column: 2;
}

.containerCountLoadInput {
  @extend .containerInput;
  grid-column: 2;
}

.containerTimeInput {
  @extend .containerInput;
  grid-column: 1;
}

.img-parameter {
  justify-self: center;
}

