.file-upload-loading {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.file-upload-loading-logo {
  justify-self: right;
  cursor: pointer;

  border-radius: 50%; /* Сделаем круг */
  object-fit: cover; /* Это важно, чтобы SVG вписывался в круг */

  /* Начальная тень */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  /* Плавная анимация для тени */
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  /* При наведении на картинку */
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Увеличиваем тень */
    transform: scale(1.05); /* Легкое увеличение размера изображения */
  }
}

.file-upload-loading-title {
  font-size: 64px;
  font-weight: 600;
  color: var(--green-dark);
}

.file-upload-loading-loaded {
  font-size: 64px;
  color: var(--gray-light);
}

.file-upload-loading-description {
  background-color: var(--gray-dark);
  width: fit-content;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}