.Wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.Logo {
  justify-self: right;
  cursor: pointer;

  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  animation: pulse 2s ease-in-out infinite;
  transform-origin: center center;

  //&:hover {
  //  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  //  transform: scale(1.2);
  //}
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.Title {
  font-size: 64px;
  font-weight: 600;
  color: var(--green-dark);
}

.Info {
  color: var(--white-primary);
  font-size: 18px;
  font-weight: 600;
}

.Loaded {
  font-size: 64px;
  color: var(--gray-light);
}

.Description {
  background-color: var(--gray-dark);
  width: fit-content;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .Wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
  }

  .Logo {
    justify-self: center;
    width: 60%;
  }

  .Description {
    margin: 10px;
    width: auto;
  }

  .Title {
    font-size: 34px;
  }

  .Loaded {
    font-size: 34px;
  }

  .Info {
    font-size: 14px;
    margin-top: 20px;
    display: block;
  }
}