.DownloadPage {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.DownloadPageLogo {
  justify-self: center;
  cursor: pointer;

  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

.file-upload-success-qr-title {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
}

.DownloadPageTitle {
  font-size: 64px;
  font-weight: 600;
  color: var(--green-dark);
}

.DownloadPageProperty {
  background-color: var(--gray-dark);
  width: fit-content;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.DownloadPageDescription {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-primary);
}

.DownloadPageParameters {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  grid-column: 1/4;
  font-size: 30px;
  color: var(--gray-light);

  span {
    margin: 50px;
  }
}

@media (max-width: 600px) {
  .DownloadPage {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .DownloadPageLogo {
    width: 60%;
  }

  .file-upload-success-qr-img {
    height: 20px;
  }

  .DownloadPageProperty {
    width: auto;
    margin: 10px;
  }

  .DownloadPageTitle {
    font-size: 34px;
  }

  .DownloadPageParameters {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 1;

    span {
      margin: 0;
    }
  }
}