.Wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--background-color);
  display: flex;
  align-items: center;

  .Logo {
    height: calc(var(--navbar-height) - 16px);
    width: auto;
    margin: auto 0;
    //will-change: filter;
    //transition: filter 300ms;

    //&:hover {
    //  filter: drop-shadow(0 0 2em var(--green-dark));
    //}
  }

  .Title {
    font-size: var(--font-size-title);
    margin-left: 20px;
    font-weight: 600;
    position: relative;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */

    &:hover + .TitleEnd {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .TitleEnd {
    margin-left: 20px;
    font-weight: 600;
    color: var(--green-light);
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
  }
}
