.ParametersPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--white-primary);
}

.containerGridMain {
  margin-left: 16px;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-gap: 20px;

  /* Чтобы контейнер не растягивался шире экрана */
  width: calc(100% - 80px);
  max-width: 100%;
}

.containerTitle {
  display: grid;
  grid-column: 1 / 5;
}

.title {
  display: flex;
  margin: 0 0 0 10px;
  font-size: 22px;
}

.separator {
  background-color: var(--gray-dark);
  height: 2px;
  grid-column: 1 / 2;
  margin: 0;
}

.containerTime {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
}

.containerCountLoad {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
}

.containerPassword {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
}

.containerPasswordInput {
  grid-column: 3;
  grid-row: 3;
  align-items: center;
  display: flex;
}