.file-upload-success {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.file-upload-success-logo {
  justify-self: center;
  cursor: pointer;

  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

.file-upload-success-qr {

}

.file-upload-success-qr-title {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
}

.file-upload-success-title {
  font-size: 64px;
  font-weight: 600;
  color: var(--green-dark);
}

.file-upload-success-loaded {
  font-size: 64px;
  color: var(--gray-light);
}

.file-upload-success-description {
  background-color: var(--gray-dark);
  width: fit-content;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}