.Wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.Logo {
  justify-self: center;
  cursor: pointer;

  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

.QR {

}

.QRTitle {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
}

.Title {
  font-size: 64px;
  font-weight: 600;
  color: var(--green-dark);
}

.Loaded {
  font-size: 64px;
  color: var(--gray-light);
}

.Description {
  background-color: var(--gray-dark);
  width: fit-content;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .Wrapper {
    margin-top: 50px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .QRTitle {
    font-size: 18px;
  }

  .QRImg {
    height: 20px;
  }

  .Logo {
    width: 60%;
  }

  .Description {
    width: auto;
    margin: 10px;
  }

  .Title {
    font-size: 34px;
  }

  .Loaded {
    font-size: 34px;
  }
}