.file-upload-idle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.file-upload-idle-title {
  justify-self: left;
  font-size: 64px;
  font-weight: 600;
}

.file-upload-idle-logo {
  justify-self: right;
  cursor: pointer;

  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

@media (max-width: 600px) {
  .file-upload-idle {
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
  }

  .file-upload-idle-logo {
    justify-self: center;
    width: 60%;
  }

  .file-upload-idle-title {
    display: none;
  }
}